@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");
/* font-family: 'Inconsolata'; */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/* font-family: 'Space Mono', monospace; */

:root {
  --color-primary: #333333;
  --color-title: #4f4f4f;
  --color-button: #ffffff;
}

body {
  background: #ffffff;
  font-family: "Space Mono", monospace;
  font-style: normal;
}

.container {
  width: 75.7%;
  margin: 0 auto;
}

.header {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: var(--color-primary);
}

.header-texts {
  margin-top: 40px;
  margin-bottom: 200px;
}

.hero-figure {
  margin-right: 120px;
}

.hero-img {
  max-width: 540px;
}

.hero-container {
  display: flex;
}

.hero-title {
  width: 586px;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: var(--color-primary);
  margin-bottom: 36px;
}

.hero-subtitle {
  width: 381px;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: var(--color-title);
  margin-bottom: 64px;
}

.hero-button {
  font-family: inherit; /* For all browsers */
  font-size: 100%; /* For all browsers */
  margin: 0; /* Firefox and Safari have margin */
  overflow: visible; /* Edge hides overflow */
  -webkit-appearance: button; /* Safari otherwise prevents some styles */
  cursor: pointer;
  border: 0;
  color: var(--color-button);
  background-color: var(--color-title);
  padding: 24px 43px 23px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
}

.hero-button:hover {
  background-color: #222222;
}

/* Responsive design  */

@media screen and (max-width: 375px) {
  .container {
    width: 90%;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .header-texts {
    margin-bottom: 64px;
  }

  .hero-texts {
    margin-bottom: 140px;
  }

  .hero-figure {
    margin: 0 auto;
  }

  .hero-img {
    width: 100%;
  }

  .hero-title {
    width: 100%;
    font-size: 48px;
    line-height: 71px;
    margin-top: 60px;
  }

  .hero-subtitle {
    width: 100%;
    font-size: 18px;
    line-height: 27px;
  }
}
